*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --Primary-Color : #FF9500;
}
.title{
  background-color: var(--Primary-Color);
  color: white;
  height: 55px;
  margin: 20px 30px;
  display: flex;
  align-items: center;   /* توسيط عمودي */
  justify-content: center; /* توسيط أفقي */
  text-align: center;
  border-radius: 8px;
}

